<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- 配置hibernate的基本属性 -->

        <!-- 方言 -->

        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>

        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=planning</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.connection.password">test</property>


        <!-- 是否显示及格式化sql -->
        <property name="hibernate.show_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- 生成数据表的策略 -->
        <property name="hibernate.hbm2ddl.auto">update</property>


        <!-- 二级缓存 -->

        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

    </session-factory>
</hibernate-configuration>